#left-eye {
  animation: eyeballs 3s linear infinite;
}

#right-eye {
  animation: eyeballs 3s linear infinite;
}

#right-ear, #left-ear {
  transition: all .5s ease-in;
}

#bear:hover #right-ear,
#bear:hover #left-ear {
  transform: translateY(-6px);
}

@keyframes eyeballs {

  0% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-6px);
  }
}
